.EquipmentButton {
    width: 700px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraph {
    width: 550px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: red;
    list-style-type: none; /* Enlève les puces de liste */
    padding: 15px;
  }
  