.openCollapse {
  width: 95%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.paragrapheClass {

    display: block;
    width: 89%;
    margin: 1px;
    margin-left: 12px;
    padding: 14px;
    background-color: #F6F6F6;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}
  

.divMain {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.listeClass {
  display: block;
    /* width: 84%; */
    margin-left: 10px;
    margin-right: 55px;
  padding: 10px;
  background-color: #F6F6F6;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}




footer {
    margin-top: 90px;
}

@media (max-width: 768px) {
  
  .divText {

  width: 60%;

}

.listeClass {
    /* width: 84%; */
    margin-left: 10px;
    margin-right: 55px;
}
.paragrapheClass {
  min-width: 50%;
   width: 84%; 
  margin-left: 10px;
  margin-right: 55px;
}
  
}

@media (max-width: 320px) {
  .listeClass {
    min-width: 50%;
    width: 84%;
    margin-left: 10px;
    margin-right: 55px;
  }
  .paragrapheClass {
    min-width: 50%;
     width: 84%;
    margin-left: 10px;
  }
}


@media (max-width: 1440px) {
  .listeClass {
    min-width: 50%;
     width: 84%;
    margin-left: 10px;
    margin-right: 55px;
  }

  .paragrapheClass {
    min-width: 50%;
    width: 84%; 
    margin-left: 10px;
    margin-right: 55px;
  }
}