.openCollapse {
  width: 95%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.paragrapheClass {
  display: block;
  margin-top: 0px;
    width:  91.71%;
  padding: 14px;
  background-color: #F6F6F6;
}
  

.divMain {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.listeClass {
  display: block;
     width: 93%; 

  padding: 10px;
  background-color: #F6F6F6;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
footer {
    margin-top: 90px;
}


.IconeCollapse {
  transform: rotate(0deg); 
  transition: transform 0.3s ease;
}

.IconeCollapse.rotate {
  transform: rotate(180deg); 
}



@media (min-width: 1024px) and (max-width: 1439px) {
  .paragrapheClass {
    width: 89%;

  }

  .listeClass {
    width: 91%;
  }
  
}



@media (min-width: 768px) and (max-width: 1023px) {
  
  .divText {

  width: 60%;

}

.listeClass {
  width: 92.71%;
  /* margin-left: 10px; */
  /* margin-right: 55px; */
}
.paragrapheClass {
  width: 90.71%;

}

  
}

@media (max-width: 767px) {
  .listeClass {
    width: 90%;
    margin-left: 0px;
  }
  .paragrapheClass {

    width: 87%;

  }

}
