.openCollapse {
  width: 95%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.paragrapheClass {
  display: block;
  margin: 1px;
  margin-left: 6px;
  margin-right: 60px;

  padding: 14px;
  background-color: #F6F6F6;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
  

.divMain {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.listeClass {
  display: block;
    /* width: 84%; */
    margin-left: 25px;
    margin-right: 55px;
  padding: 10px;
  background-color: #F6F6F6;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
footer {
    margin-top: 90px;
}




@media (min-width: 1024px) and (max-width: 1439px) {
  .paragrapheClass {
    width: 83%;
    margin-left: 15px;
    margin-right: 55px;
  }
}



@media (min-width: 768px) and (max-width: 1023px) {
  
  .divText {

  width: 60%;

}

.listeClass {
    margin-left: 10px;
    margin-right: 55px;
}
.paragrapheClass {
  width: none;
  margin-left: 10px;
  margin-right: 55px;
}
  
}

@media (max-width: 767px) {
  .listeClass {
    min-width: 50%;
    margin-left: 10px;
    margin-right: 55px;
  }
  .paragrapheClass {
    margin-left: 25px;
    margin-right: 55px;

  }
}
