.DescButton {
    width: 700px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.paragraph2 {
    width: 615px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: red;
    list-style-type: none;
    padding: 15px;
}