.DescButton {
    width: 700px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraph2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    color: red;
    list-style-type: none;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
    margin-left: 15px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .DescButton, .paragraph2 {
        width: 100%; 
        margin-left: 0; 
    }
}