.header {
  height: 40px;
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.Logo {
  width: 200px;
  height: auto; /* Pour conserver les proportions de l'image */
}

@media screen and (max-width: 700px) {
  .header {
    grid-template-columns: repeat(2, 1fr); /* Update to a 2-column grid for smaller screens */
  }
}