nav {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}

.Accueil {
  display: flex;
  color: #FF6060;
  font-size: clamp(12px, 2.5vw, 24px);
  text-decoration: none;
  flex-direction: row;
}

.APropos {
  display: flex;
  color: #FF6060;
  font-size: clamp(12px, 2.5vw, 24px);
  text-decoration: none;
  flex-direction: row;
  padding-right: 100px;
}

.Accueil:hover,
.APropos:hover {
  color: #FF6060;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  nav {
    line-height: 1px;
    
  }
  
  .Accueil,
  .APropos {
    flex-direction: column;
    gap: 20px;
    font-size: clamp(17px, 2.5vw, 24px);

  }
}