.house-details {
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    width: 88%;
}

.house-title {
    
    font-size: 5em;
    font-weight: 500;
    font-size: 55px;
    margin-top: 20px;
    position: relative;
    color:  #FF6060;
}

.host-info {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 300;
    
}

.host-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid #fff; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
}

.rating {
    position: absolute;
    right: 0;
    top: 100px;
    display: flex;
    align-items: center;
}

.location {
    font-size: 1.3em;
    color: #FF6060;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6060;
    padding:    5px;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
}


.collapsehouse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
  
  .collapseItem {
    display: flex;
    width: 50%;
        color: #FF6060;
    margin: 10px; 
  }
  

    
  .collapseItemm {
    width: 50%;
    color: #FF6060;
    margin: 10px; 
  }
  


  @media (max-width: 768px) {
    .collapsehouse {
        flex-direction: column;
    }

    .collapseItem, .collapseItemm {
        width: 100%;
    }

    .next-button {
        right: 62px;
    }
    .details-container {
        display: flex;
        flex-direction: column;
    }

    .house-title {
        /* Keep the original order */
        order: 1;
    }

    .tags {
        /* This should come before host-info and rating */
        order: 2;
        margin-bottom: 10px; /* Space below tags */
    }

    .host-info {
        /* This should come after tags */
        order: 3;
        position: static;
        margin-top: 10px;
        width: 100%;
    }

    .rating {
        /* This should come last */
        order: 4;
        position: static;
        margin-top: 10px;
        width: 100%;
    }

}