.App {
  text-align: center;
  width: 1240px;
  margin: 0 auto;
}

.App-logo {
  pointer-events: none;
}


.App-header {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

/*Coté header / Navbar*/

.img_navbar {
  display: flex;
  width: 10%;
  padding: 15px;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;

}

.navbar_link {
  display: flex;
margin-right: 20px;
padding-right: 55px;
color: rgba(255, 96, 96, 1);
text-decoration: none;
}

.navbar_link:hover {
  text-decoration: underline;
  color: rgba(255, 96, 96, 1);
}

.right_section {
  display: flex;
}

.top_body_section {
  width: 1240px;
  height: 223px;
  display: flex;
  justify-content: center;
  margin:  0 auto;
  top: 163px;
left: 100px;
overflow: hidden;
}

.img_body {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  mix-blend-mode: darken;
top: 163px;
left: 100px;
background-image: url('./Assets/cote_rocheuse.svg');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

/*coté card*/

.first_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding-top: 55px;
}
.main{
  display: flex;
  bottom: 0;
  margin: 0 auto;
  color: #fff;
}

.first_div {
  background: #FF6060;
  width: 340px;
height: 340px;
border-radius: 10px;
  margin-bottom: 35px;

}
.second_div {
  background: #FF6060;
  width: 340px;
height: 340px;
border-radius: 10px;
  margin-bottom: 35px;

}
.three_div {
  background: #FF6060;
  width: 340px;
height: 340px;
border-radius: 10px;
  margin-bottom: 35px;

}
.four_div {
  background: #FF6060;
  width: 340px;
height: 340px;
border-radius: 10px;
}
.five_div {
  background: #FF6060;
  width: 340px;
height: 340px;
border-radius: 10px;
}
.six_div {
  background: #FF6060;
  width: 340px;
height: 340px;
border-radius: 10px;
}







/*footer*/

.first_section_footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin:  0 auto;
  top: 163px;
left: 100px;
overflow: hidden;
margin-top: 55px;

}

.img_footer {
  width: 100%;
  height: 209px;
  background-image: url('./Assets/footer_img.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 

}